
<html>
  <head>
    <title></title>
  </head>

  <body>
    <h1>Welcome to Recipe Digitizer</h1>
    <%# <table backgroundcolor="green">
      <th><a href="/recipes/new">Enter New Recipe</a></th>
      <th><a href="/recipes//edit">Change Recipes</a></th>
    </table> %>
    

    <ul>

      <% @recipes.each do |recipe|%>

        <li>
          Recipe <%= recipe.id %>: 
          <a href="/recipes/<%= recipe.id %>"><b><%= recipe.name %></b></a>
          Cook Time: <%= recipe.cook_time %> <br>
          Ingredients: <%= recipe.ingredients %>
        </li>

      <%end%>
    </ul>
